In [4]:
import pandas as pd

In [5]:
personagens_df = pd.DataFrame({
    'nome': ['Raul','Larissa','João'],
    'idade': [24,24,37],
    'peso': [68.5,45.7,98.8],
    'e homem': [True,False,True]
})

In [6]:
personagens_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   nome     3 non-null      object
 1   idade    3 non-null      int64
 2   peso     3 non-null      float64
 3   e homem  3 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 207.0+ bytes

In [7]:
personagens_df.columns

Index(['nome', 'idade', 'peso', 'e homem'], dtype='object')

In [8]:
personagens_df.rename(columns={
    'nome': 'Nome',
    'idade': 'Idade',
}, inplace=True
                     )

In [9]:
personagens_df

      Nome  Idade  peso  e homem
0     Raul     24  68.5     True
1  Larissa     24  45.7    False
2     João     37  98.8     True

In [10]:
personagens_df.columns = ['NOME', 'IDADE','PESO','É HOMEM']

In [11]:
personagens_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   NOME     3 non-null      object
 1   IDADE    3 non-null      int64
 2   PESO     3 non-null      float64
 3   É HOMEM  3 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 207.0+ bytes